@import './variables';
@import './custom';

body {
    background-color: #171717;
    color: white;
}

.btn-4 {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 100px;
}

.btn-4::after,
.btn-4:hover {
    background: linear-gradient(to right, #84FFBD, #AAB2FF, #ECA0FF);
}

span {
    display: block;
    padding: 10px 40px;
}